@import
url('https://fonts.googleapis.com/css2?family=Marcellus&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap&#39');
:root{
    --azulclaro: #48d6ed;
    --azuloscuro: #337ab7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #b2b3b3;
    --fondo: #fffefc;
    --verdeazul: #157a8a;
    --magenta: #9c2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337ab7 2.89%, #0b3860 80.34%);
}

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

#container-grid{
    display: grid;
    grid-template: 
    "nav" auto
    "banner" 330px
    "descripcion" auto
    "features" auto
    "ubicacion" auto
    "opinion" auto
    "footer" auto;
}


nav{
    grid-area: nav;
    display: grid;
    grid-template-areas: 
    "logo"
    "menu";
    font-family: 'Marcellus',serif;
    font-size: 1.3em;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo{
    grid-area: logo;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo-img menu-bars";
    background-color: var(--negro2);
    padding: 1rem;
}

.logo img{
    grid-area: logo-img;
    width: 50%;
    max-width: 200px;
}

.logo i{
    grid-area: menu-bars;
    color: var(--blanco);
    font-size: 2em;
    justify-self: end;
    align-self: center;
}

.menu{
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    display: none;
}

.menu-hr{
    color: var(--blanco);
    width: 90%;
    justify-self: center;
}

.item{
    padding: 1rem 0;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: #0b3860;
    width: 100%;
}

.navbar-button{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}

#banner{
    background-image: url('../img//index/slide1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
}

#descripcion{
    display: flex;
    padding: 3rem 2rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
}

#descripcion p{
    flex-direction: column;
    justify-content: center;
    padding: 0 0 2rem 0;
}

#descripcion img{
    display: none;
}

#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
}

.features-title{
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}

.feature-black{
    background-color: rgba(0, 0, 0, 0.59);
}

#ubicacion{
    font-family: 'Marcellus', serif;
}

#ubicacion .title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#ubicacion .maps img{
    width: 100%;
}

#ubicacion .direccion{
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#ubicacion .colombia{
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding-bottom: .1rem;
}

#ubicacion hr{
    height: .5px;
    width: 95%;
    background-color: var(--azuloscuro);
    margin-left: 10px;
}

#ubicacion .telefono{
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 1rem 0 2rem;
}

.nosotros{
    display: flex;
    background-color: var(--negro);
    color: var(--blanco);
    font-size: 2rem;
    height: 140px;
    justify-content: center;
    padding-top: 1.5rem;
    font-family: 'Marcellus',serif;   
}

#opinion{
    color: var(--blanco);
    font-family: 'Marcellus', serif;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    margin-bottom: 150px;
}

#opinion .cards{
    background: var(--degradado);
    display: flex;
    padding: .5rem;
    width: 75%;
    border-radius: 5px;
    position: relative;
}

#opinion .card-content{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 25px 50px 145px 0;
    grid-template-areas: 
    "foto nombre"
    "foto stars"
    "texto texto";
}

#opinion .rating{
    justify-items: flex-end;
}

#opinion .cards img{
    grid-area: foto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 1rem;
}

#opinion .cards .name-profession{
    grid-area: nombre;
    display: flex;
    align-self: center;
    margin-top: 3rem;
    font-size: 20px;
}

#opinion .cards .rating{
    grid-area: stars;
    display: flex;
    align-self: center;
    margin-top: 1rem;
    font-size: 20px;
}

#opinion .cards .rating .star1{
    color: var(--magenta);
}

#opinion .cards .bottom{
    grid-area: texto;
    display: flex;
    align-self: center;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
}

footer{
    background-color: var(--negro2);
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: grid;
    font-family: 'Marcellus', serif;
}

footer p{
    color: var(--blanco);
}

footer i{
    color: var(--blanco);
}

footer hr{
    color: var(--blanco);
    width: 100%;
    right: 15px;
    justify-content: center;
}

footer .descripcion-footer{
    font-size: 1em;
    padding: 0 0 1rem .7rem;
}

footer .locacion{
    display: flex;
}

footer .locacion p{
    font-size: .9rem;
    padding-top: .5rem;
}

footer i{
    padding: 0 0 .5rem .5rem;
}

footer p{
    padding: 0 .5rem .7rem 1rem;
}

footer .fa-location-dot{
    padding-top: 1rem;
    font-size: 20px;
}

footer .telefono{
    display: flex;
}

footer .telefono p{
    font-size: .9rem;
    padding-top: .3rem;
    padding-bottom: .5rem;
}

footer .fa-phone{
    padding-top: .3rem;
    font-size: 18px;
}

footer .contactos{
    padding: .5rem 0 .5rem 0;
}

footer .politicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 .5rem 0;
    align-items: center;
}

footer .redes-sociales{
    display: flex;
    padding: 1rem;
    font-size: 20px;
}

footer .fa-facebook-f{
    padding-left: 2rem;
}

footer .fa-twitter{
    padding-left: 2rem;
}
/*Resoluciones macro*/
@media screen and (min-width: 1308px){
    body{
        background-color: #eaeaea;
    }
    #container-grid{
        max-width: 1300px;
        margin: 0 auto;
    }

    nav{
        width: 100%;
        max-width: 1300px;
    }
}

@media screen and (min-width: 1024px){
    nav{
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo menu";
    }

    .logo img {
        width: 100%;
    }

    .logo i{
        display: none;
    }

    .menu{
        display: block;
        background-color: var(--negro2);
        justify-self: end;
        align-self: center;
        padding: 0 1rem;
    }

    .menu-hr{
        display: none;
    }

    .navbar-button{
        background-color: var(--azuloscuro);
        align-self: center;
    }

    .item{
        margin: 0 1rem;
    }
}

.body-form{
    background-image: url(https://lh3.googleusercontent.com/fife/AAbDypAvU0DffGS3OhYUkxb6DLPjtpAQfdEyN3_fQpduJEmdX0KlOtdoOOkechc-TBer1YY7ig7J0j3Z555OvHaWd8S1DpVdOMOpodQMyBVlIOvqLzNrCLRb-ClqMG0HFtzqr4NmBelj2qWKrLPo7m1L8yzVr1pRLHyURqwvZM6wYdgcKo7X6E0YEBJqcyI1VSzwnx3PYDFXO3J4CNzcsbjQJprM2BxfqVcjd_H21dDHucYyjdYGrLw_em9x4QLGQfMrn-p94Z29fscxeGSdD3F2C4w34V2WXNyBugulb6YefrbJrV4ZMaLKHG1QH9L-StqST46DLMtxg3O9FeOZB_9XndPMLo8IVRFXQnD3aELQOj8UoMI0MbSX8S_N0Ew82gSy1AC94VJSRcblRUjV28IdxxR1N4R130Lm7kAx7_HUxt5tIwsThZkxAG7SP-4ORrPvbq1-qc7dRmtIyH5g9UNdXo-j7KCAjusAxvX364u_DUFYTsfri-4QQTApuT5QUanl27FePbP3ERNXOA1cCu3lCwxBYEB7YKSCl9p432okuiqRno2shcCRxG84fcdXRPLzfXSsTzWHX4ged6Ui5KH2lfkvegpYEMOUNtrVHlpWExC1WpDuw-PSX_it5CCtEizLhib7a2LfYEPtpZNIfmqzI2couw01Yd0lcByLwNtDWVAkXS-wwo95jz3aR6KFTraG6pAhND3S5BYULs2zV7uh751AwKw-FUUJEqUecwAnqfib84QyHvxFfpGuS0fUAwugXoPBvb8TcJdvKLtguUcpzid3t8PzidXk4TTVS7EFPsiWiWsL0wzVnaMKJr_FMV9N-Em9F22n8UhRrmqWJScDgC4jYo9QvCJGjgQpEIOW0ewo-9geRcRWOn6vZAUaFHEhp-K5_4WTtC1la7hFIboj8zZoIlfevbw0LcUNCR5gCLKo4cBYqQ0CfGNd6zINQOHCmjrPu6Nx4o2niBLPW19zgOLylbsdPCtRdv0XZe817s2wpaL_RbzrKhK8PLewzRLojhPtK8IE3KSQsH1FpR7un9R9JULl15KB52AolaACDYS5ucLIjNui9RD3-1D5rB5BFITNAQfXrmpOY-GtLecNHb7ihboIuxpei_PsgT7WCjRz65lpljQtKN_naqeoQMvwVrw2RsV75yadDIxqDDDsdwcMQaBAFyQntRCYWEmszu-SaEyhwedisHsZ0VNmQi7u-lqyVsbL-M3xsF33xBzep-EGGm_wWZsUcm68COzaFVJzWNw9n2Ilzbxne4GR5Bm5ud48tTlxUstZbupykT_qGAOBKcgCjc-NtNi6gsH_Y3qVAI9Nq-i7AiShzTuIULXk4gtxjiBbIbjGu1wIahsDdUxtXZkPDPzuiWD6XyYKXqxnf9ewGDrz=w1366-h657);
    background-position: 39% 0;
    font-family: 'Marcellus', serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: rgb(51, 122, 183, 0.68);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: rgb(51, 122, 183, 0.68);
}

.container .form i{
    display: flex;
    font-size: 50px;
    justify-content: center;
}


.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 80%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}

.form p{
    color: var(--blanco);
    padding: .5;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--negro2);
    cursor: pointer;
    margin-top: 2rem;
}

.button input:hover{
    background-color: var(--blanco);
    color: #000;
}

